p {
    font-size: 16px;
}

body {
    
    color: rgb(53, 55, 194);
    text-align: center;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  }

  #red {
      color: red;
  }

    #blue {
    color: blue;
    }

    #green {
        color: green;
    }

    #purple {
        color: purple;
    }