<!doctype html>
<html>
<head>
  <title>Madlib Game</title>
</head>
<body>
    <form action="/madlib">
      
        Choose a person: <br>
        <input type="text" name="person">
        <br>

        Choose a color: <br>
        <input type="text" name="color">
        <br>

        Choose a noun: <br>
        <input type="text" name="noun">
        <br>

        Choose an adjective: <br>
        <input type="text" name="adjective">

        <br>
        <br>
        <input type="submit">

    </form>
</body>
</html>